Repository tscircuit/sparkfun-boards, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ShiboSoftwareDev, @Abse2001, @MustafaMulla29, @Anshgrover23, @techmannih

feat(rp2040): accurate physical layout and bottom layer components
  boards/SparkFun-MicroMod-RP2040-Processor/README.md
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-pcb.snap.svg
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-schematic.snap.svg
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/index-pcb.snap.svg
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/index-schematic.snap.svg
Owners: @ShiboSoftwareDev

style: fix formatting to satisfy CI
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

change the net name to N_INT
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-Qwiic.circuit.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/VCNL4040.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/__snapshots__/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-Qwiic.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

fix(rp2040): use string literals for nets and clean PR scope
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-schematic.snap.svg
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/index-pcb.snap.svg
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/index-schematic.snap.svg
  boards/SparkFun-SSOP-to-DIP-Adapter-16-Pin/__snapshots__/SparkFun-SSOP-to-DIP-Adapter-16-Pin.circuit-3d.diff.png
  bun.lock
  package.json
Owners: @ShiboSoftwareDev

fix(rp2040): improve MicroModEdge schematic symbol to match reference
  boards/SparkFun-MicroMod-RP2040-Processor/MicroModEdge.tsx
Owners: @ShiboSoftwareDev

style: fix formatting for MicroModEdge
  boards/SparkFun-MicroMod-RP2040-Processor/MicroModEdge.tsx
Owners: @ShiboSoftwareDev

add new SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic) (#234)
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/JST04_1MM_RA.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/README.md
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-Qwiic.circuit.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/VCNL4040.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/__snapshots__/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-Qwiic.circuit-3d.snap.png
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/__snapshots__/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-Qwiic.circuit-pcb.snap.svg
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/__snapshots__/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-Qwiic.circuit-schematic.snap.svg
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/index.tsx
  bun.lock
Owners: @ShiboSoftwareDev

Fix schematic traces: Simplify MicroModEdge and Refine Board
  boards/SparkFun-MicroMod-RP2040-Processor/MicroModEdge.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/README.md
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-pcb.snap.svg
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

patch
  boards/SparkFun-Transceiver-Breakout-MAX3232/__snapshots__/SparkFun-Transceiver-Breakout-MAX3232.circuit-3d.snap.png
  boards/SparkFun-Transceiver-Breakout-MAX3232/__snapshots__/SparkFun-Transceiver-Breakout-MAX3232.circuit-pcb.snap.svg
  bun.lock
Owners: @Abse2001, @ShiboSoftwareDev

feat: Implement SparkFun MicroMod RP2040 Processor Board
  boards/SparkFun-MicroMod-RP2040-Processor/MicroModConnector.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/MicroMod_RP2040.zip
  boards/SparkFun-MicroMod-RP2040-Processor/RP2040.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/temp/MicroMod-RP2040-ProcessorBoard.brd
  boards/SparkFun-MicroMod-RP2040-Processor/temp/MicroMod-RP2040-ProcessorBoard.sch
Owners: @ShiboSoftwareDev

fix: Resolve CI build errors (imports and connections syntax)
  biome.json
  boards/SparkFun-MicroMod-RP2040-Processor/MicroModConnector.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/RP2040.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  package-lock.json
Owners: @ShiboSoftwareDev

fix: Remove accidentally committed package-lock.json
  package-lock.json
Owners: @ShiboSoftwareDev

fix: Remove temporary design files from repo
  boards/SparkFun-MicroMod-RP2040-Processor/temp/MicroMod-RP2040-ProcessorBoard.brd
  boards/SparkFun-MicroMod-RP2040-Processor/temp/MicroMod-RP2040-ProcessorBoard.sch
Owners: @ShiboSoftwareDev

fix: Format codebase and finalize biome config
  biome.json
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  package-lock.json
Owners: @ShiboSoftwareDev

fix: Remove package-lock.json and ignore it
  .gitignore
  package-lock.json
Owners: @ShiboSoftwareDev

fix: Replace unsupported <component> with <chip> for Crystal
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

fix 3d pos and rotation for some 3d components
  boards/SparkFun-Current-Sensor-Breakout-ACS723/ACS723.tsx
  boards/SparkFun-Current-Sensor-Breakout-ACS723/__snapshots__/SparkFun-Current-Sensor-Breakout-ACS723.circuit-3d.snap.png
  boards/SparkFun-Haptic-Motor-Driver-DRV2605L/DRV2605LDGST.tsx
  boards/SparkFun-Haptic-Motor-Driver-DRV2605L/__snapshots__/SparkFun-Haptic-Motor-Driver-DRV2605L.circuit-3d.snap.png
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/JST04_1MM_RA.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/VCNL4040.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/__snapshots__/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-Qwiic.circuit-3d.snap.png
Owners: @ShiboSoftwareDev, @Abse2001

fix 3d pos and rotation for some 3d components (#237)
  boards/SparkFun-Current-Sensor-Breakout-ACS723/ACS723.tsx
  boards/SparkFun-Current-Sensor-Breakout-ACS723/__snapshots__/SparkFun-Current-Sensor-Breakout-ACS723.circuit-3d.snap.png
  boards/SparkFun-Haptic-Motor-Driver-DRV2605L/DRV2605LDGST.tsx
  boards/SparkFun-Haptic-Motor-Driver-DRV2605L/__snapshots__/SparkFun-Haptic-Motor-Driver-DRV2605L.circuit-3d.snap.png
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/JST04_1MM_RA.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/VCNL4040.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/__snapshots__/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-Qwiic.circuit-3d.snap.png
Owners: @ShiboSoftwareDev, @Abse2001

new SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/CD74HC4067.tsx
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/README.md
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit.tsx
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/__snapshots__/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit-3d.snap.png
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/__snapshots__/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit-pcb.snap.svg
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/__snapshots__/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

fix 3d pos and rotation for some 3d components (#237)
  boards/SparkFun-Current-Sensor-Breakout-ACS723/ACS723.tsx
  boards/SparkFun-Current-Sensor-Breakout-ACS723/__snapshots__/SparkFun-Current-Sensor-Breakout-ACS723.circuit-3d.snap.png
  boards/SparkFun-Haptic-Motor-Driver-DRV2605L/DRV2605LDGST.tsx
  boards/SparkFun-Haptic-Motor-Driver-DRV2605L/__snapshots__/SparkFun-Haptic-Motor-Driver-DRV2605L.circuit-3d.snap.png
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/JST04_1MM_RA.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/VCNL4040.tsx
  boards/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-(Qwiic)/__snapshots__/SparkFun-Micro-Proximity-Sensor-20cm-VCNL4040-Qwiic.circuit-3d.snap.png
Owners: @ShiboSoftwareDev, @Abse2001

add new SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/CD74HC4067.tsx
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/README.md
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit.tsx
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/__snapshots__/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit-3d.snap.png
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/__snapshots__/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit-pcb.snap.svg
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/__snapshots__/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

patch
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/CD74HC4067.tsx
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit.tsx
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/__snapshots__/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

add new SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067 (#239)
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/CD74HC4067.tsx
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/README.md
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit.tsx
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/__snapshots__/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit-3d.snap.png
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/__snapshots__/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit-pcb.snap.svg
  boards/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067/__snapshots__/SparkFun-Analog-Digital-MUX-Breakout-CD74HC4067.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

Add SparkFun Ambient Light Sensor VEML6030 (Qwiic) component (#223)
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/README.md
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/SM04B_SRSS_TB_LF__SN2.tsx
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic).circuit.tsx
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/VEML6030.tsx
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/__snapshots__/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic).circuit-3d.snap.png
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/__snapshots__/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic).circuit-pcb.snap.svg
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/__snapshots__/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic).circuit-schematic.snap.svg
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/index.tsx
Owners: @ShiboSoftwareDev

feat: add SparkFun MicroMod RP2040 Processor (#175)
  boards/SparkFun-MicroMod-RP2040-Processor/README.md
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/index.tsx
Owners: @ShiboSoftwareDev

style: fix formatting via biome
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  package-lock.json
  tsc_output.txt
Owners: @ShiboSoftwareDev

chore: remove accidental package-lock.json and tsc_output.txt
  package-lock.json
  tsc_output.txt
Owners: @ShiboSoftwareDev

fix: remove pinLabels from crystal component to fix type error
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

chore: add snapshots for RP2040 processor
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-3d.snap.png
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-pcb.snap.svg
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

fix: use soic75 footprint and sanitize pin names to fix generation
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-3d.snap.png
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-pcb.snap.svg
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

fix: use soic76 (even pin count) to prevent generator loop
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-3d.snap.png
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-pcb.snap.svg
Owners: @ShiboSoftwareDev

fix: simplify to minimal viable M.2 connector implementation
  .agent/workflows/validate-tscircuit-component.md
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-3d.snap.png
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-pcb.snap.svg
  boards/SparkFun-MicroMod-RP2040-Processor/__snapshots__/SparkFun-MicroMod-RP2040-Processor.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

Add RP2040 board logic
  RP2040_Processor.c
Owners: @ShiboSoftwareDev

Update SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/SM04B_SRSS_TB_LF__SN.tsx
Owners: @ShiboSoftwareDev

Refactor SM04B_SRSS_TB_LF__SN component structure
  boards/SparkFun-Ambient-Light-Sensor-VEML6030-(Qwiic)/SM04B_SRSS_TB_LF__SN.tsx
Owners: @ShiboSoftwareDev

Add SparkFun MicroMod RP2040 Processor component
  boards/SparkFun-MicroMod-RP2040-Processor/README.md
  boards/SparkFun-MicroMod-RP2040-Processor/RP2040.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/SparkFun-MicroMod-RP2040-Processor.circuit.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/W25Q128JV.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/index.tsx
  boards/SparkFun-MicroMod-RP2040-Processor/tscircuit.config.json
Owners: @ShiboSoftwareDev

feat(boards): add SparkFun MicroMod RP2040 Processor support
  boards/sparkfun-micromod-rp2040-processor/README.md
  boards/sparkfun-micromod-rp2040-processor/index.tsx
  boards/sparkfun-micromod-rp2040-processor/sparkfun-micromod-rp2040-processor.circuit.tsx
Owners: @ShiboSoftwareDev

Add SparkFun FT231X Breakout board implementation with USB Micro-B connector
  boards/SparkFun-FT231X-Breakout/FT231X.tsx
  boards/SparkFun-FT231X-Breakout/README.md
  boards/SparkFun-FT231X-Breakout/SparkFun-FT231X-Breakout.circuit.tsx
  boards/SparkFun-FT231X-Breakout/USB_MICRO_B.tsx
  boards/SparkFun-FT231X-Breakout/__snapshots__/SparkFun-FT231X-Breakout.circuit-3d.snap.png
  boards/SparkFun-FT231X-Breakout/__snapshots__/SparkFun-FT231X-Breakout.circuit-pcb.snap.svg
  boards/SparkFun-FT231X-Breakout/__snapshots__/SparkFun-FT231X-Breakout.circuit-schematic.snap.svg
  boards/SparkFun-FT231X-Breakout/index.tsx
Owners: @ShiboSoftwareDev

Update devDependencies and dependencies in package.json
  boards/SparkFun-Micro-Proximity-Sensor-Breakout-20cm-VCNL4040-(Qwiic)/SparkFun-Micro-Proximity-Sensor-Breakout-20cm-VCNL4040-Qwiic.circuit.tsx
  boards/SparkFun-Micro-Proximity-Sensor-Breakout-20cm-VCNL4040-(Qwiic)/__snapshots__/SparkFun-Micro-Proximity-Sensor-Breakout-20cm-VCNL4040-Qwiic.circuit-3d.snap.png
  boards/SparkFun-Micro-Proximity-Sensor-Breakout-20cm-VCNL4040-(Qwiic)/__snapshots__/SparkFun-Micro-Proximity-Sensor-Breakout-20cm-VCNL4040-Qwiic.circuit-pcb.snap.svg
  boards/SparkFun-Micro-Proximity-Sensor-Breakout-20cm-VCNL4040-(Qwiic)/__snapshots__/SparkFun-Micro-Proximity-Sensor-Breakout-20cm-VCNL4040-Qwiic.circuit-schematic.snap.svg
  bun.lock
  package.json
Owners: @ShiboSoftwareDev

Update dependencies and modify footprint for JP1 in SparkFun RedBot Sensor Line Follower
  boards/SparkFun-RedBot-Sensor-Line Follower/SparkFun-RedBot-Sensor-Line Follower.circuit.tsx
  bun.lock
  package.json
Owners: @ShiboSoftwareDev

.github/CODEOWNERS:

# Code owners for SparkFun boards repository

* @ShiboSoftwareDev

# Each board directory is owned by its original creator

/boards/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2/ @Abse2001
/boards/SparkFun-Digital-Temperature-Sensor-Breakout-TMP102 @Abse2001
/boards/SparkFun-Haptic-Motor-Driver-DRV2605L/ @Abse2001
/boards/SparkFun-Humidity-and-Temperature-Sensor-Breakout-Si7021 @Abse2001
/boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/ @Abse2001
/boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/ @Abse2001
/boards/SparkFun-RGB-Light-Sensor-ISL29125 @Abse2001
/boards/SparkFun-SSOP-to-DIPAdapter-8-Pin/ @Abse2001
/boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/ @Abse2001
/boards/SparkFun-ToF-Range-Finder-Breakout-VL6180 @Abse2001
/boards/SparkFun-Transceiver-Breakout-MAX3232/ @Abse2001

/boards/SparkFun-Atmospheric-Sensor-Breakout-BME280 @MustafaMulla29
/boards/SparkFun-HMC6343-Breakout/ @MustafaMulla29
/boards/SparkFun-Mini-Linear-3D-Hall-Effect-Sensor/ @MustafaMulla29
/boards/SparkFun-Qwiic-ToF-Imager-VL53L5CX/ @MustafaMulla29
/boards/SparkFun-RFID-Reader-Breakout @MustafaMulla29
/boards/SparkFun-Transceiver-Breakout-RS-485/ @MustafaMulla29
/boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104 @MustafaMulla29
/boards/SparkFun-RedBot-Sensor-Line-Follower @MustafaMulla29

/boards/SparkFun-ESLOV-to-Qwiic-Bridge/ @ShiboSoftwareDev
/boards/SparkFun-I2C-DAC-Breakout-MCP4725/ @ShiboSoftwareDev
/boards/SparkFun-Level-Shifter-8-Channel-TXS0108E/ @ShiboSoftwareDev
/boards/SparkFun-Level-Translator-Breakout-PCA9306/ @ShiboSoftwareDev
/boards/SparkFun-Roller-Encoder-Breakout/ @ShiboSoftwareDev
/boards/SparkFun-SOIC-to-DIP-Adapter-20-Pin/ @ShiboSoftwareDev
/boards/SparkFun-SOIC-to-DIP-Adapter-8-Pin @ShiboSoftwareDev
/boards/SparkFun-SSOP-to-DIP-Adapter-16-Pin @ShiboSoftwareDev

/boards/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-Qwiic/ @Anshgrover23
/boards/SparkFun-RFM69-Breakout-915MHz/ @Anshgrover23

/boards/SparkFun-USB-to-Serial-Breakout-FT232RL/ @techmannih
