Repository tscircuit/sparkfun-boards, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ShiboSoftwareDev, @Abse2001, @MustafaMulla29, @Anshgrover23, @techmannih

New Board SparkFun CO2 Humidity and Temperature Sensor - SCD40 (#154)
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40/ SCD40_D_R1.tsx
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40/README.md
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40.circuit.tsx
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40/__snapshots__/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40.circuit-3d.snap.png
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40/__snapshots__/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40.circuit-pcb.snap.svg
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40/__snapshots__/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD40.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

New SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41 Board (#155)
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41/ SCD41_D_R1.tsx
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41/README.md
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41.circuit.tsx
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41/__snapshots__/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41.circuit-3d.snap.png
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41/__snapshots__/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41.circuit-pcb.snap.svg
  boards/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41/__snapshots__/SparkFun-CO2-Humidity-And-Temperature-Sensor-SCD41.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

New SparkFun-Qwiic-Mini-dToF-Imager-TMF8821 board
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/README.md
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821.circuit.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/TMF8821_1AM.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821.circuit-3d.snap.png
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

New SparkFun-Qwiic-Mini-dToF-Imager-TMF8820 board
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/README.md
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820.circuit.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/TMF8820_1AM.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820.circuit-3d.snap.png
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

New SparkFun-Qwiic-Mini-dToF-Imager-TMF8821 board (#156)
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/README.md
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821.circuit.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/TMF8821_1AM.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821.circuit-3d.snap.png
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8821.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

New SparkFun-Qwiic-Mini-dToF-Imager-TMF8820 board (#157)
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/README.md
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820.circuit.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/TMF8820_1AM.tsx
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820.circuit-3d.snap.png
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-Mini-dToF-Imager-TMF8820.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

New SparkFun-Qwiic-dToF-Imager-TMF8820board
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/README.md
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/TMF8820_1AM.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit-3d.snap.png
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

added Readme link
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/README.md
Owners: @ShiboSoftwareDev

patch
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit-pcb.snap.svg
Owners: @ShiboSoftwareDev

New SparkFun-Qwiic-dToF-Imager-TMF8821 board
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/README.md
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/TMF8821_1AM.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-3d.snap.png
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

Patch
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit-pcb.snap.svg
Owners: @ShiboSoftwareDev

Update README.md
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/README.md
Owners: @ShiboSoftwareDev

New SparkFun-Qwiic-dToF-Imager-TMF8821 board (#159)
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/README.md
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/TMF8821_1AM.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-3d.snap.png
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

New SparkFun-Qwiic-dToF-Imager-TMF8820 board (#158)
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/README.md
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/SM04B_SRSS_TB_LF__SN.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/TMF8820_1AM.tsx
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit-3d.snap.png
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-dToF-Imager-TMF8820/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8820.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

Add SparkFun MicroMod STM32 Processor (STM32F405) board
  boards/SparkFun-MicroMod-STM32-Processor/README.md
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
  boards/SparkFun-MicroMod-STM32-Processor/index.tsx
Owners: @ShiboSoftwareDev

Fix formatting: use tabs instead of spaces
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

\Fix build errors: simplify circuit and use proper formatting
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

Add import and fix fontSize
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
  bun.lock
Owners: @ShiboSoftwareDev

Minimal working version
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

Fix syntax and structure
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

final fix
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

fix import
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

format fix
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

simplest
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

updated snapshot
  boards/SparkFun-Air-Velocity-Sensor-Breakout-FS3000-1005/__snapshots__/SparkFun-Air-Velocity-Sensor-Breakout-FS3000-1005.circuit-3d.snap.png
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-3d.snap.png
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

New SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH Board
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-schematic.snap.svg
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/LIS3DH.tsx
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit.tsx
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit-3d.snap.png
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit-pcb.snap.svg
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

added ReadMe
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/README.md
Owners: @ShiboSoftwareDev

connect pins
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit.tsx
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

update snapshot
  boards/SparkFun-USB-to-Serial-Breakout-FT232RL/__snapshots__/SparkFun-USB-to-Serial-Breakout-FT232RL.circuit-3d.snap.png
  boards/SparkFun-USB-to-Serial-Breakout-FT232RL/__snapshots__/SparkFun-USB-to-Serial-Breakout-FT232RL.circuit-pcb.snap.svg
Owners: @techmannih

New SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH Board (#180)
  boards/SparkFun-Qwiic-dToF-Imager-TMF8821/__snapshots__/SparkFun-Qwiic-dToF-Imager-TMF8821.circuit-schematic.snap.svg
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/LIS3DH.tsx
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/README.md
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit.tsx
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit-3d.snap.png
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit-pcb.snap.svg
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit-schematic.snap.svg
  boards/SparkFun-USB-to-Serial-Breakout-FT232RL/__snapshots__/SparkFun-USB-to-Serial-Breakout-FT232RL.circuit-3d.snap.png
  boards/SparkFun-USB-to-Serial-Breakout-FT232RL/__snapshots__/SparkFun-USB-to-Serial-Breakout-FT232RL.circuit-pcb.snap.svg
Owners: @ShiboSoftwareDev, @techmannih

New SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/LIS3DH.tsx
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/README.md
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers).circuit.tsx
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers).circuit-3d.snap.png
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers).circuit-pcb.snap.svg
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers).circuit-schematic.snap.svg
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

New SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers) (#183)
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/LIS3DH.tsx
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/README.md
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers).circuit.tsx
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers).circuit-3d.snap.png
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers).circuit-pcb.snap.svg
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers)/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH-(with Headers).circuit-schematic.snap.svg
  boards/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH/__snapshots__/SparkFun-Triple-Axis-Accelerometer-Breakout-LIS3DH.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

implement micromod stm32 processor
  boards/SparkFun-MicroMod-STM32-Processor/MicroModEdge.tsx
  boards/SparkFun-MicroMod-STM32-Processor/README.md
  boards/SparkFun-MicroMod-STM32-Processor/STM32F405RGT6.tsx
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
  boards/SparkFun-MicroMod-STM32-Processor/W25Q128JVPIQ.tsx
  boards/SparkFun-MicroMod-STM32-Processor/index.tsx
Owners: @ShiboSoftwareDev

use React.Fragment to avoid key error
  boards/SparkFun-MicroMod-STM32-Processor/MicroModEdge.tsx
Owners: @ShiboSoftwareDev

disable autorouting pending manual routes
  boards/SparkFun-MicroMod-STM32-Processor/MicroModEdge.tsx
  boards/SparkFun-MicroMod-STM32-Processor/STM32F405RGT6.tsx
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

build now succeeds
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

Basic STM32F405 board
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
  boards/SparkFun-MicroMod-STM32-Processor/index.tsx
Owners: @ShiboSoftwareDev

Refactor: split parts
  boards/SparkFun-MicroMod-STM32-Processor/MicroModEdge.tsx
  boards/SparkFun-MicroMod-STM32-Processor/STM32F405RG.tsx
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
  boards/SparkFun-MicroMod-STM32-Processor/W25Q128.tsx
Owners: @ShiboSoftwareDev

Making connections, re-positioning parts
  boards/SparkFun-MicroMod-STM32-Processor/MicroModEdge.tsx
  boards/SparkFun-MicroMod-STM32-Processor/STM32F405RG.tsx
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
  boards/SparkFun-MicroMod-STM32-Processor/W25Q128.tsx
Owners: @ShiboSoftwareDev

Fix render errors
  boards/SparkFun-MicroMod-STM32-Processor/STM32F405RG.tsx
  boards/SparkFun-MicroMod-STM32-Processor/SparkFun-MicroMod-STM32-Processor.circuit.tsx
Owners: @ShiboSoftwareDev

.github/CODEOWNERS:

# Code owners for SparkFun boards repository

* @ShiboSoftwareDev

# Each board directory is owned by its original creator

/boards/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2/ @Abse2001
/boards/SparkFun-Digital-Temperature-Sensor-Breakout-TMP102 @Abse2001
/boards/SparkFun-Haptic-Motor-Driver-DRV2605L/ @Abse2001
/boards/SparkFun-Humidity-and-Temperature-Sensor-Breakout-Si7021 @Abse2001
/boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/ @Abse2001
/boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/ @Abse2001
/boards/SparkFun-RGB-Light-Sensor-ISL29125 @Abse2001
/boards/SparkFun-SSOP-to-DIPAdapter-8-Pin/ @Abse2001
/boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/ @Abse2001
/boards/SparkFun-ToF-Range-Finder-Breakout-VL6180 @Abse2001
/boards/SparkFun-Transceiver-Breakout-MAX3232/ @Abse2001

/boards/SparkFun-Atmospheric-Sensor-Breakout-BME280 @MustafaMulla29
/boards/SparkFun-HMC6343-Breakout/ @MustafaMulla29
/boards/SparkFun-Mini-Linear-3D-Hall-Effect-Sensor/ @MustafaMulla29
/boards/SparkFun-Qwiic-ToF-Imager-VL53L5CX/ @MustafaMulla29
/boards/SparkFun-RFID-Reader-Breakout @MustafaMulla29
/boards/SparkFun-Transceiver-Breakout-RS-485/ @MustafaMulla29
/boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104 @MustafaMulla29
/boards/SparkFun-RedBot-Sensor-Line-Follower @MustafaMulla29

/boards/SparkFun-ESLOV-to-Qwiic-Bridge/ @ShiboSoftwareDev
/boards/SparkFun-I2C-DAC-Breakout-MCP4725/ @ShiboSoftwareDev
/boards/SparkFun-Level-Shifter-8-Channel-TXS0108E/ @ShiboSoftwareDev
/boards/SparkFun-Level-Translator-Breakout-PCA9306/ @ShiboSoftwareDev
/boards/SparkFun-Roller-Encoder-Breakout/ @ShiboSoftwareDev
/boards/SparkFun-SOIC-to-DIP-Adapter-20-Pin/ @ShiboSoftwareDev
/boards/SparkFun-SOIC-to-DIP-Adapter-8-Pin @ShiboSoftwareDev
/boards/SparkFun-SSOP-to-DIP-Adapter-16-Pin @ShiboSoftwareDev

/boards/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-Qwiic/ @Anshgrover23
/boards/SparkFun-RFM69-Breakout-915MHz/ @Anshgrover23

/boards/SparkFun-USB-to-Serial-Breakout-FT232RL/ @techmannih
