Repository tscircuit/sparkfun-boards, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ShiboSoftwareDev, @MustafaMulla29, @Anshgrover23, @Abse2001, @techmannih

Update
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit.tsx
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/__snapshots__/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

Add silkscreen
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit.tsx
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/TXB0104.tsx
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/__snapshots__/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit-pcb.snap.svg
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/__snapshots__/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

Update
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit.tsx
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/__snapshots__/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit-pcb.snap.svg
Owners: @ShiboSoftwareDev

Update footprint
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit.tsx
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/__snapshots__/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit-pcb.snap.svg
Owners: @ShiboSoftwareDev

Update the tscircuit dep and update snapshots
  boards/SparkFun-ESLOV-to-Qwiic-Bridge/__snapshots__/SparkFun-ESLOV-to-Qwiic-Bridge.circuit-pcb.snap.svg
  boards/SparkFun-ESLOV-to-Qwiic-Bridge/__snapshots__/SparkFun-ESLOV-to-Qwiic-Bridge.circuit-schematic.snap.svg
  boards/SparkFun-HMC6343-Breakout/__snapshots__/SparkFun-HMC6343-Breakout.circuit-pcb.snap.svg
  boards/SparkFun-HMC6343-Breakout/__snapshots__/SparkFun-HMC6343-Breakout.circuit-schematic.snap.svg
  boards/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-Qwiic/__snapshots__/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-(Qwiic).circuit-pcb.snap.svg
  boards/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-Qwiic/__snapshots__/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-(Qwiic).circuit-schematic.snap.svg
  boards/SparkFun-I2C-DAC-Breakout-MCP4725/__snapshots__/SparkFun I2C DAC Breakout - MCP4725.circuit-pcb.snap.svg
  boards/SparkFun-I2C-DAC-Breakout-MCP4725/__snapshots__/SparkFun I2C DAC Breakout - MCP4725.circuit-schematic.snap.svg
  boards/SparkFun-Level-Shifter-8-Channel-TXS0108E/__snapshots__/SparkFun-Level-Shifter-8-Channel-TXS0108E.circuit-pcb.snap.svg
  boards/SparkFun-Level-Shifter-8-Channel-TXS0108E/__snapshots__/SparkFun-Level-Shifter-8-Channel-TXS0108E.circuit-schematic.snap.svg
  boards/SparkFun-Level-Translator-Breakout-PCA9306/__snapshots__/SparkFun-Level-Translator-Breakout-PCA9306.circuit-pcb.snap.svg
  boards/SparkFun-Level-Translator-Breakout-PCA9306/__snapshots__/SparkFun-Level-Translator-Breakout-PCA9306.circuit-schematic.snap.svg
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Analog.circuit-pcb.snap.svg
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Analog.circuit-schematic.snap.svg
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Digital.circuit-pcb.snap.svg
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Digital.circuit-schematic.snap.svg
  boards/SparkFun-Mini-Linear-3D-Hall-Effect-Sensor/__snapshots__/SparkFun-Mini-Linear-3d-Hall-Effect.circuit-pcb.snap.svg
  boards/SparkFun-Mini-Linear-3D-Hall-Effect-Sensor/__snapshots__/SparkFun-Mini-Linear-3d-Hall-Effect.circuit-schematic.snap.svg
  boards/SparkFun-Qwiic-ToF-Imager-VL53L5CX/__snapshots__/SparkFun-Qwiic-ToF-Imager.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-ToF-Imager-VL53L5CX/__snapshots__/SparkFun-Qwiic-ToF-Imager.circuit-schematic.snap.svg
  boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/__snapshots__/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit.circuit-pcb.snap.svg
  boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/__snapshots__/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit.circuit-schematic.snap.svg
  boards/SparkFun-Transceiver-Breakout-MAX3232/__snapshots__/SparkFun-Transceiver-Breakout-MAX3232.circuit-pcb.snap.svg
  boards/SparkFun-Transceiver-Breakout-MAX3232/__snapshots__/SparkFun-Transceiver-Breakout-MAX3232.circuit-schematic.snap.svg
  boards/SparkFun-Transceiver-Breakout-RS-485/__snapshots__/SparkFun-Transceiver-Breakout -RS-485.circuit-pcb.snap.svg
  boards/SparkFun-Transceiver-Breakout-RS-485/__snapshots__/SparkFun-Transceiver-Breakout -RS-485.circuit-schematic.snap.svg
  boards/SparkFun-USB-to-Serial-Breakout-FT232RL/__snapshots__/SparkFun-USB-to-Serial-Breakout-FT232RL.circuit-pcb.snap.svg
  boards/SparkFun-USB-to-Serial-Breakout-FT232RL/__snapshots__/SparkFun-USB-to-Serial-Breakout-FT232RL.circuit-schematic.snap.svg
  bun.lock
  package.json
Owners: @ShiboSoftwareDev, @MustafaMulla29, @Anshgrover23, @Abse2001, @techmannih

Update the tscircuit dep and update snapshots (#96)
  boards/SparkFun-ESLOV-to-Qwiic-Bridge/__snapshots__/SparkFun-ESLOV-to-Qwiic-Bridge.circuit-pcb.snap.svg
  boards/SparkFun-ESLOV-to-Qwiic-Bridge/__snapshots__/SparkFun-ESLOV-to-Qwiic-Bridge.circuit-schematic.snap.svg
  boards/SparkFun-HMC6343-Breakout/__snapshots__/SparkFun-HMC6343-Breakout.circuit-pcb.snap.svg
  boards/SparkFun-HMC6343-Breakout/__snapshots__/SparkFun-HMC6343-Breakout.circuit-schematic.snap.svg
  boards/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-Qwiic/__snapshots__/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-(Qwiic).circuit-pcb.snap.svg
  boards/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-Qwiic/__snapshots__/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-(Qwiic).circuit-schematic.snap.svg
  boards/SparkFun-I2C-DAC-Breakout-MCP4725/__snapshots__/SparkFun I2C DAC Breakout - MCP4725.circuit-pcb.snap.svg
  boards/SparkFun-I2C-DAC-Breakout-MCP4725/__snapshots__/SparkFun I2C DAC Breakout - MCP4725.circuit-schematic.snap.svg
  boards/SparkFun-Level-Shifter-8-Channel-TXS0108E/__snapshots__/SparkFun-Level-Shifter-8-Channel-TXS0108E.circuit-pcb.snap.svg
  boards/SparkFun-Level-Shifter-8-Channel-TXS0108E/__snapshots__/SparkFun-Level-Shifter-8-Channel-TXS0108E.circuit-schematic.snap.svg
  boards/SparkFun-Level-Translator-Breakout-PCA9306/__snapshots__/SparkFun-Level-Translator-Breakout-PCA9306.circuit-pcb.snap.svg
  boards/SparkFun-Level-Translator-Breakout-PCA9306/__snapshots__/SparkFun-Level-Translator-Breakout-PCA9306.circuit-schematic.snap.svg
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Analog.circuit-pcb.snap.svg
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Analog.circuit-schematic.snap.svg
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Digital.circuit-pcb.snap.svg
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Digital.circuit-schematic.snap.svg
  boards/SparkFun-Mini-Linear-3D-Hall-Effect-Sensor/__snapshots__/SparkFun-Mini-Linear-3d-Hall-Effect.circuit-pcb.snap.svg
  boards/SparkFun-Mini-Linear-3D-Hall-Effect-Sensor/__snapshots__/SparkFun-Mini-Linear-3d-Hall-Effect.circuit-schematic.snap.svg
  boards/SparkFun-Qwiic-ToF-Imager-VL53L5CX/__snapshots__/SparkFun-Qwiic-ToF-Imager.circuit-pcb.snap.svg
  boards/SparkFun-Qwiic-ToF-Imager-VL53L5CX/__snapshots__/SparkFun-Qwiic-ToF-Imager.circuit-schematic.snap.svg
  boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/__snapshots__/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit.circuit-pcb.snap.svg
  boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/__snapshots__/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit.circuit-schematic.snap.svg
  boards/SparkFun-Transceiver-Breakout-MAX3232/__snapshots__/SparkFun-Transceiver-Breakout-MAX3232.circuit-pcb.snap.svg
  boards/SparkFun-Transceiver-Breakout-MAX3232/__snapshots__/SparkFun-Transceiver-Breakout-MAX3232.circuit-schematic.snap.svg
  boards/SparkFun-Transceiver-Breakout-RS-485/__snapshots__/SparkFun-Transceiver-Breakout -RS-485.circuit-pcb.snap.svg
  boards/SparkFun-Transceiver-Breakout-RS-485/__snapshots__/SparkFun-Transceiver-Breakout -RS-485.circuit-schematic.snap.svg
  boards/SparkFun-USB-to-Serial-Breakout-FT232RL/__snapshots__/SparkFun-USB-to-Serial-Breakout-FT232RL.circuit-pcb.snap.svg
  boards/SparkFun-USB-to-Serial-Breakout-FT232RL/__snapshots__/SparkFun-USB-to-Serial-Breakout-FT232RL.circuit-schematic.snap.svg
  bun.lock
  package.json
Owners: @ShiboSoftwareDev, @MustafaMulla29, @Anshgrover23, @Abse2001, @techmannih

fix bottom side pin labels
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/SparkFun-Line-Sensor-Breakout-QRE1113-Analog.circuit.tsx
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Analog.circuit-pcb.snap.svg
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/SparkFun-Line-Sensor-Breakout-QRE1113-Digital.circuit.tsx
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Digital.circuit-pcb.snap.svg
  boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit.circuit.tsx
  boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/__snapshots__/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit.circuit-pcb.snap.svg
Owners: @Abse2001

fix bottom side pin labels (#97)
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/SparkFun-Line-Sensor-Breakout-QRE1113-Analog.circuit.tsx
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Analog.circuit-pcb.snap.svg
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/SparkFun-Line-Sensor-Breakout-QRE1113-Digital.circuit.tsx
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Digital.circuit-pcb.snap.svg
  boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit.circuit.tsx
  boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/__snapshots__/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit.circuit-pcb.snap.svg
Owners: @Abse2001

update snapshot
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/__snapshots__/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit-pcb.snap.svg
  boards/SparkFun-Voltage-Level-Translator-Breakout-TXB0104/__snapshots__/SparkFun-Voltage-Level-Translator-Breakout-TXB0104.circuit-schematic.snap.svg
Owners: @ShiboSoftwareDev

generated 3d snapshots for all circuits, and forced 3d snapshot generation in the workflow
  .gitignore
  boards/SparkFun-ESLOV-to-Qwiic-Bridge/__snapshots__/SparkFun-ESLOV-to-Qwiic-Bridge.circuit-3d.snap.png
  boards/SparkFun-HMC6343-Breakout/__snapshots__/SparkFun-HMC6343-Breakout.circuit-3d.snap.png
  boards/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-Qwiic/__snapshots__/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-(Qwiic).circuit-3d.snap.png
  boards/SparkFun-I2C-DAC-Breakout-MCP4725/__snapshots__/SparkFun I2C DAC Breakout - MCP4725.circuit-3d.snap.png
  boards/SparkFun-Level-Shifter-8-Channel-TXS0108E/__snapshots__/SparkFun-Level-Shifter-8-Channel-TXS0108E.circuit-3d.snap.png
  boards/SparkFun-Level-Translator-Breakout-PCA9306/__snapshots__/SparkFun-Level-Translator-Breakout-PCA9306.circuit-3d.snap.png
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Analog.circuit-3d.snap.png
  boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/__snapshots__/SparkFun-Line-Sensor-Breakout-QRE1113-Digital.circuit-3d.snap.png
  boards/SparkFun-Mini-Linear-3D-Hall-Effect-Sensor/__snapshots__/SparkFun-Mini-Linear-3d-Hall-Effect.circuit-3d.snap.png
  boards/SparkFun-Qwiic-ToF-Imager-VL53L5CX/__snapshots__/SparkFun-Qwiic-ToF-Imager.circuit-3d.snap.png
  boards/SparkFun-RFM69-Breakout-915MHz/__snapshots__/SparkFun-RFM69-Breakout.circuit-3d.snap.png
  boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/__snapshots__/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit.circuit-3d.snap.png
  boards/SparkFun-Transceiver-Breakout-MAX3232/__snapshots__/SparkFun-Transceiver-Breakout-MAX3232.circuit-3d.snap.png
  boards/SparkFun-Transceiver-Breakout-RS-485/__snapshots__/SparkFun-Transceiver-Breakout -RS-485.circuit-3d.snap.png
  boards/SparkFun-USB-to-Serial-Breakout-FT232RL/__snapshots__/SparkFun-USB-to-Serial-Breakout-FT232RL.circuit-3d.snap.png
  bun.lock
  package.json
Owners: @ShiboSoftwareDev, @MustafaMulla29, @Anshgrover23, @Abse2001, @techmannih

New SPARKFUN board SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2
  boards/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2/MPL3115A2R1.tsx
  boards/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2/README.md
  boards/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2.circuit.tsx
  boards/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2/__snapshots__/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2.circuit-pcb.snap.svg
  boards/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2/__snapshots__/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2.circuit-schematic.snap.svg
  boards/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2/index.tsx
  boards/SparkFun-Altitude-Pressure-Sensor-Breakout-MPL3115A2/manual-edits.json
  bun.lock
  package.json
Owners: @ShiboSoftwareDev

.github/CODEOWNERS:

# Code owners for SparkFun boards repository

* @ShiboSoftwareDev

# Each board directory is owned by its original creator

/boards/SparkFun-HMC6343-Breakout/ @MustafaMulla29
/boards/SparkFun-Mini-Linear-3D-Hall-Effect-Sensor/ @MustafaMulla29
/boards/SparkFun-Qwiic-ToF-Imager-VL53L5CX/ @MustafaMulla29
/boards/SparkFun-Transceiver-Breakout-RS-485/ @MustafaMulla29

/boards/SparkFun-Human-Presence-and-Motion-Sensor-STHS34PF80-Qwiic/ @Anshgrover23
/boards/SparkFun-RFM69-Breakout-915MHz/ @Anshgrover23

/boards/SparkFun-I2C-DAC-Breakout-MCP4725/ @ShiboSoftwareDev
/boards/SparkFun-Level-Shifter-8-Channel-TXS0108E/ @ShiboSoftwareDev
/boards/SparkFun-Level-Translator-Breakout-PCA9306/ @ShiboSoftwareDev
/boards/SparkFun-ESLOV-to-Qwiic-Bridge/ @ShiboSoftwareDev

/boards/SparkFun-Transceiver-Breakout-MAX3232/ @Abse2001
/boards/SparkFun-Serial-Flash-Breakout-Assembled-128Mbit/ @Abse2001
/boards/SparkFun-Line-Sensor-Breakout-QRE1113-Analog/ @Abse2001
/boards/SparkFun-Line-Sensor-Breakout-QRE1113-Digital/ @Abse2001

/boards/SparkFun-USB-to-Serial-Breakout-FT232RL/ @techmannih
